/* sticker */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sticker {
    box-sizing: border-box;
    float: left;
    padding: 4.1mm 4.3mm;
    width: 110mm;
    height: 70mm;
    border: 3mm solid #47a5ae;
    font-family: Ubuntu, sans-serif;
    margin: 0 2mm 5mm;
    background-image: url(img/background-pattern.svg), url(img/back-pattern-1.svg);
    background-size: 40% , 40%;
    background-position: -50px 10px, 120% -34px;
    background-repeat: no-repeat;
}
.sticker-logo{
    width: 34.59mm;
    height: 24.49mm;
    margin: 0 auto 7.96mm;
}
.sticker-logo__img{
    width: 100%;
    height: 100%;
}

.sticker:empty {
    border-color: #000;
}

/* Full */

.sticker__full {
    margin: 0 0 1.75mm 0;
    color: #406f88;
    font-weight: 400;
    font-size: 7.75mm;
    text-align: center;
}
.sticker__full:before{
    content: '{';
}
.sticker__full:after{
    content: '}';
}

/* Name */

.sticker__name {
    display: inline-block;
}

.sticker__name:empty:nth-of-type(1) {
    position: relative;
    top: -2mm;
}

.sticker__name:empty::before {
    content: '...........................................';
}

/* Twitter */

.sticker__twitter {
    display: none;
    margin: 0 0 2.5mm -1mm;
    color: #469bbb;
    font-size: 15pt;
}

.sticker__twitter::before {
    content: '@';
}

.sticker__twitter:empty::before {
    content: '@........................................';
}

/* Position: organizer/co-organizer/partner/speacker/guest */
.sticker__position{
    text-transform: uppercase;
    text-align: center;
    font-size: 4.23mm;
    color: #ed1651;
    margin: 0 0 2.12mm;
}

/*add info*/
.sticker-add-info:after{
    display: table;
    clear: both;
    content: '';
}

/* partner */
.sticker-partner{
    float: left;
}
.sticker-partner__title{
    font-size: 2.47mm;
    color: #6d6e71;
    display: block;
}
.sticker-partner__logo{

}

/* place */

.sticker-place{
    float: right;
    font-size: 3.88mm;
    color: #ed1651;
    font-weight: bold;
}
.sticker-place:before{
    content: url(img/icon-map.svg);
    position: relative;
    top: 1mm;
}


/* City */

.sticker::after {
    display: block;
    display: none;
    color: #406f88;
    font-weight: 200;
    font-size: 10pt;
    content: 'Город — 3000';
}

.sticker:empty::after {
    content: '';
}

/* Print */

@media print {
        body {
            background-color: white;
            display: flow-root;
            padding: 2mm 0 0 0mm;
            box-sizing: border-box;
        }
        .sticker {
            -webkit-print-color-adjust: exact;
            text-rendering: geometricPrecision;
            margin: 0 2mm 2mm;
        }
}
